@if (carrello.items.length) {
    <mat-card class="max-w-7xl mx-auto">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">

            <ng-container matColumnDef="prodotto">
                <th mat-header-cell *matHeaderCellDef>Prodotto</th>
                <td mat-cell *matCellDef="let elemento">
                    <img src="{{elemento.prodotto}}" alt="prodotto" class="w-[100px] my-5">
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <button mat-raised-button routerLink="/" class="">Continua il tuo Shopping Qui</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let elemento">
                    <p class="truncate max-w-xs block">{{elemento.nome}}</p>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="prezzo">
                <th mat-header-cell *matHeaderCellDef>Prezzo</th>
                <td mat-cell *matCellDef="let elemento">
                    <p>{{elemento.prezzo | currency:'EUR':'symbol'}}</p>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="quantita">
                <th mat-header-cell *matHeaderCellDef>Quantità</th>
                <td mat-cell *matCellDef="let elemento">
                    <button (click)="quantitaMeno1(elemento)" mat-icon-button>
                        <mat-icon>remove</mat-icon>
                    </button>
                    <span>{{elemento.quantita}}</span>
                    <button (click)="quantitaPiu1(elemento)" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <button mat-raise-button class="btn-verde">

                    </button>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="totale">
                <th mat-header-cell *matHeaderCellDef>Totale</th>
                <td mat-cell *matCellDef="let elemento">
                    <p>{{(elemento.prezzo * elemento.quantita)|currency:'EUR':'symbol'}}</p>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <span class="font-bold py-5 block"> {{sommaTotale(carrello.items)|currency:'EUR':'symbol'}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="azione">
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-button (click)="pulisciCarrello()" class="float-right btn-rosso">
                        Pulisci Carrello
                    </button>
                </th>
                <td mat-cell *matCellDef="let elemento">
                    <button (click)="rimuoviArticoloDalCarrello(elemento)" mat-mini-fab class="float-right btn-rosso">
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <button mat-button class="btn-verde float-right">
                        Checkout
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="colonneTabella"></tr>
            <tr mat-row *matRowDef="let riga; columns: colonneTabella"></tr>
            <tr mat-footer-row *matFooterRowDef="colonneTabella"></tr>
        </table>
    </mat-card>
}
@if (!carrello.items.length) {
    <mat-card class="p-6 max-w-7xl text-center mx-auto">
        <p class="mb-4">Non ci sono articoli nel Carrello</p>
        <button mat-raised-button routerLink="/" class="">Inizia il tuo Shopping Qui</button>
    </mat-card>
}

