<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
    <mat-drawer mode="side" opened class="p-6">
        <app-filters (showCategorie)="onShowCategoria($event)"/>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-product-header 
        (cambioVisualProdotti)="onCambioVisualProdotti($event)"
        (cambioOrdinamento)="onCambioOrdinamento($event)"
        (conteggioColonne)="onConteggioColonneCambia($event)"/>
        <mat-grid-list gutterSize="16" [cols]="colonne" [rowHeight]="altezzaRighe">
            @for (prodotto of prodotti; track prodotto.id) {
               <mat-grid-tile>
                <app-box-prodotto [prodotto]="prodotto" (addCarrello)="aggiungiAlCarrello($event)" class="w-full" [modTuttoSchermo]="colonne === 1"/>
            </mat-grid-tile> 
            }
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>